<div class="parametros">
  <div class="header">
    <span>Central de Notificações</span>
  </div>
</div>
<div class="opcoes-cadastradas">
  <div class="header">
    <h4>Notificações</h4>
  </div>
  <table class="param-table">
    <thead>
      <tr class="headers-param-table">
        <th>Funcionalidade</th>
        <th>Mensagem</th>
        <th>Data e Hora da Notificação</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of notificacoesCadastradas; let i = index">
        <td>{{ param.funcionalidade }}</td>
        <td>{{ param.mensagem }}</td>
        <td>{{ param.dataHora }}</td>
        <td>
          <button
            class="icon-button"
            (click)="onVisualizar(param)"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button
            class="icon-button"
            (click)="onExcluir(param.id, param.funcionalidade)"
          >
            <mat-icon>delete_square</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator
  [length]="totalElements"
  [pageSize]="size"
  [pageSizeOptions]="[10, 20, 50]"
  (page)="onPageChange($event)"
>
</mat-paginator>
