<!-- meu-cadastro.component.html -->
<form [formGroup]="form" novalidate class="custom-form">
  <div class="form-card">
    <div class="form-header">
      <h3>Meu Cadastro</h3>
      <span>Mantenha seus contatos sempre atualizados</span>
    </div>
    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <label for="nomeDoUsuario">Nome do Usuário</label>
          <input id="nomeDoUsuario" type="text" formControlName="nomeDoUsuario" placeholder="Nome e Sobrenome do Usuário">
        </div>
        <div class="col-md-3">
          <label for="matricula">Matrícula</label>
          <input id="matricula" type="text" formControlName="matricula" placeholder="0000000">
        </div>
        <div class="col-md-3">
          <label for="login">Login</label>
          <input id="login" type="text" formControlName="login" placeholder="Login do Usuário">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="unidade">Unidade</label>
          <input id="unidade" type="text" formControlName="unidade" placeholder="UNN - Unidade de Negócio Norte" >
        </div>
        <div class="col">
          <label for="centroDeCusto">Centro de Custo</label>
          <input id="centroDeCusto" type="text" formControlName="centroDeCusto" placeholder="Centro de Custo do Usuário" >
        </div>
        <div class="col">
          <label for="municipio">Município</label>
          <select id="municipio" formControlName="municipio">
            <option *ngFor="let municipio of municipios" [value]="municipio.value">{{ municipio.label }}</option>
          </select>
        </div>
        <div class="col">
          <label for="nivelDePermissao">Nível de Permissão</label>
          <select id="nivelDePermissao" formControlName="nivelDePermissao">
            <option *ngFor="let nivelDePermissao of niveisDePermissao" [value]="nivelDePermissao.value">{{ nivelDePermissao.label }}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label for="email">E-mail</label>
          <input id="email" type="text" formControlName="email" placeholder="usuario@sabesp.com.br">
        </div>
        <div class="col-md-3">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" formControlName="telefone" placeholder="(00) 00000-0000">
        </div>
        <div class="col-md-3">
          <label for="ramal">Ramal</label>
          <input id="ramal" type="text" formControlName="ramal" placeholder="(00) 0000-0000">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <br>
    <div class="form-footer">
      <button type="button" class="btn secondary" (click)="onLogin()">Cancelar</button>
      <button type="submit" class="btn primary" (click)=onUpdate()>Salvar</button>
    </div>
  </div>
</form>
