<app-toolbar></app-toolbar>
<mat-sidenav-container class="menu-container">
  <mat-sidenav mode="side" opened #sidenav class="custom-sidenav" [class.sidebar-collapsed]="isCollapsed">
    <button (click)="toggleSidebar()" class="toggle-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Página Inicial</span>
      </a>
      <a mat-list-item (click)="toggleSubMenu('monitoramento')">
        <mat-icon>assignment</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Monitoramento</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('cco') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('monitoramento')">
        <a mat-list-item routerLink="/planilha-cco" routerLinkActive="active-link">
          Planilha CCO
        </a>
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubMenu('sistema')">
        <mat-icon>settings</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Sistema</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('sistema') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('sistema')">
        <a mat-list-item routerLink="/central-notificacao" routerLinkActive="active-link">
               Central de Notificações
        </a>
        <a mat-list-item routerLink="/meu-cadastro" routerLinkActive="active-link">
               Meu Cadastro
        </a>
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubMenu('administracao')">
        <mat-icon>assignment</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Administração</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('administracao') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('administracao')">
        <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
          Auditoria
        </a>
        <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
          Gerenciar
        </a>
        <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
          Desbloqueio de Planilha CCO
        </a>
        <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
          Usuários
        </a>
        <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
          Histórico de Importações
        </a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" [class.main-content-collapsed]="isCollapsed">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
